.add-transaction-bar-container{
	padding: 20px 20px;
	display: flex;
	align-content: center;
}

.add-transaction-euro-container{
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 0 10px;
	img{
		margin: 0 5px;
	}
}